<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ok.okhelper.dao.CustomerMapper">
    <resultMap id="BaseResultMap" type="com.ok.okhelper.pojo.po.Customer">
        <!--
          WARNING - @mbg.generated
        -->
        <constructor>
            <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="customer_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="customer_store_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="customer_phone" javaType="java.lang.String" jdbcType="CHAR"/>
            <arg column="customer_email" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="customer_score" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="customer_level" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="customer_address" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="remarks" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="operator" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="delete_status" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="store_id" javaType="java.lang.Long" jdbcType="BIGINT"/>
        </constructor>
    </resultMap>
</mapper>