<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ok.okhelper.dao.ProductMapper">
    <resultMap id="BaseResultMap" type="com.ok.okhelper.pojo.po.Product">
        <!--
          WARNING - @mbg.generated
        -->
        <constructor>
            <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="product_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="product_title" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="product_attribute" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="category_id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="sales_stock" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="specification" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="unit" javaType="java.lang.String" jdbcType="CHAR"/>
            <arg column="retail_price" javaType="java.math.BigDecimal" jdbcType="DECIMAL"/>
            <arg column="main_img" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="sub_imgs" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="article_number" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="bar_code" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="operator" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="delete_status" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="store_id" javaType="java.lang.Long" jdbcType="BIGINT"/>
        </constructor>
    </resultMap>
    <update id="cutSalesStock" parameterType="map">
        update product set sales_stock=sales_stock-#{salesCount} where sales_stock > 0 AND id=#{productId}
    </update>

</mapper>