<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ok.okhelper.dao.ProductMapper">
    <resultMap id="BaseResultMap" type="com.ok.okhelper.pojo.po.Product">
        <!--
          WARNING - @mbg.generated
        -->
        <constructor>
            <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="product_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="product_title" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="product_attribute" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="category_id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="sales_stock" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="specification" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="unit" javaType="java.lang.String" jdbcType="CHAR"/>
            <arg column="retail_price" javaType="java.math.BigDecimal" jdbcType="DECIMAL"/>
            <arg column="main_img" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="sub_imgs" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="article_number" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="bar_code" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="operator" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="delete_status" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="store_id" javaType="java.lang.Long" jdbcType="BIGINT"/>
        </constructor>
    </resultMap>


    <resultMap id="ProductVoMap" type="com.ok.okhelper.pojo.vo.ProductsVo">
        <!--
          查询所有商品
        -->
        <constructor>
            <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="product_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="product_title" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="sales_stock" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="retail_price" javaType="java.math.BigDecimal" jdbcType="DECIMAL"/>
            <arg column="main_img" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        </constructor>
    </resultMap>

    <update id="cutSalesStock" parameterType="map">
        update product set sales_stock=sales_stock-#{salesCount} where sales_stock > 0 AND id=#{productId}
    </update>

    <select id="getProductsList" resultMap="ProductVoMap" parameterType="string">
        SELECT id,product_name,product_title,sales_stock,retail_price,main_img,create_time,update_time
        FROM product
        <where>
            <if test=" _parameter != null and _parameter != ''">
            OR product_name LIKE '%${_parameter}%'
            OR product_title LIKE '%${_parameter}%'
            OR article_number LIKE '%${_parameter}%'
            OR bar_code LIKE '%${_parameter}%'
            OR bar_code LIKE '%${_parameter}%'
            OR category_id in (SELECT id FROM category WHERE category_name LIKE '%${_parameter}%')
            </if>
            AND delete_status = 1

        </where>

    </select>
    
    
    <update id="updateStatus" parameterType="long" >
      UPDATE product SET delete_status = 0 WHERE id = #{id}
    </update>


</mapper>