<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ok.okhelper.dao.StockMapper">
    <resultMap id="BaseResultMap" type="com.ok.okhelper.pojo.po.Stock">
        <!--
          WARNING - @mbg.generated
        -->
        <constructor>
            <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="warehouse_id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="goods_id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="goods_birthday" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="goods_shelf_life" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="stock_number" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="remarks" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="operator" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="store_id" javaType="java.lang.Long" jdbcType="BIGINT"/>
        </constructor>
    </resultMap>
</mapper>