<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ok.okhelper.dao.SupplierMapper">
  <resultMap id="BaseResultMap" type="com.ok.okhelper.pojo.po.Supplier">
  <!--
    WARNING - @mbg.generated
  -->
  <constructor>
    <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
    <arg column="supplier_name" javaType="java.lang.String" jdbcType="VARCHAR" />
    <arg column="supplier_phone" javaType="java.lang.String" jdbcType="CHAR" />
    <arg column="supplier_address" javaType="java.lang.String" jdbcType="VARCHAR" />
    <arg column="supplier_contacts" javaType="java.lang.String" jdbcType="VARCHAR" />
    <arg column="remarks" javaType="java.lang.String" jdbcType="VARCHAR" />
    <arg column="operator" javaType="java.lang.Long" jdbcType="BIGINT" />
    <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    <arg column="delete_status" javaType="java.lang.Integer" jdbcType="INTEGER" />
    <arg column="store_id" javaType="java.lang.Long" jdbcType="BIGINT" />
  </constructor>
</resultMap>

  <resultMap id="IdAndNameMap" type="com.ok.okhelper.pojo.bo.IdAndNameBo">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT"/>
      <arg column="supplier_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
    </constructor>
  </resultMap>

  <select id="getIdAndName" parameterType="java.lang.Long" resultMap="IdAndNameMap">
    select id,supplier_name from supplier WHERE id = #{id};
  </select>
  <select id="getSupplierByStoreId" parameterType="long" resultMap="BaseResultMap"  >
    SELECT *
    FROM  supplier WHERE store_id = #{storeId} and delete_status = 1
  </select>


</mapper>